.office-title {
  position: relative;
  box-sizing: content-box;
  max-width: 1080px;
  padding: 0 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2340b7;
  text-align: center;
}
.office-title__main {
  display: block;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.office-title__sub {
  display: block;
  font-size: 0.875rem;
  letter-spacing: 0.25em;
}
@media screen and (min-width: 768px) {
  .office-title {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: left;
  }
  .office-title__main {
    font-size: 5.5rem;
    letter-spacing: 0.08em;
  }
  .office-title__sub {
    font-size: 1.375rem;
    letter-spacing: 0.16em;
  }
}
@media screen and (min-width: 1024px) {
  .office-title {
    margin: 0 auto;
  }
}

.office-visual {
  position: relative;
  box-sizing: content-box;
  max-width: 1080px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px;
  opacity: 1;
  transition: all 1.2s ease 300ms;
}
.office-visual__title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.office-visual__img {
  max-width: 727px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .office-visual {
    padding: 0px 24px;
    margin: 0px auto;
  }
  .office-visual__title {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
    border: 0;
    width: 212px;
  }
  .office-visual__img {
    margin: 0;
  }
}

.office-introduction {
  padding: 40px 0;
  background-color: #ebebf2;
}
.office-introduction__content {
  position: relative;
  box-sizing: content-box;
  max-width: 1080px;
  padding: 0 24px;
}
.office-introduction__content__text {
  font-size: 1rem;
  margin-bottom: 24px;
}
.office-introduction__content__text__bold {
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .office-introduction {
    padding: 100px 0 80px;
  }
  .office-introduction__content {
    margin: 0 auto;
  }
  .office-introduction__content__text {
    font-size: 1.125rem;
    margin-bottom: 40px;
  }
  .office-introduction__content__text__bold {
    font-size: 1.125rem;
  }
}
