@use './variable' as var;
body {
  font-family: var.$font-base;
  color: var.$gray900;
  overflow-wrap: break-word;
  line-height: 1.8;
}
ol,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media screen and (prefers-reduced-motion: reduce) {
  a {
    &:hover,
    &:focus {
      transform: none;
      > * {
        transform: none;
      }
    }
  }
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
textarea,
select {
  appearance: none;
  -webkit-tap-highlight-color: var.$tp;
}
select {
  border: 0;
  &::-ms-expand {
    display: none;
  }
}
input {
  appearance: none;
  -webkit-tap-highlight-color: var.$tp;
  &[type='submit'] {
    border: 0;
  }
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  border: 0;
  &:disabled {
    cursor: default;
  }
}
address,
cite,
em {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
}

.is-pc {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.is-sp {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  width:100%;
  border-bottom: 1px solid var.$gray300;
}

.header-1 {
  height: 48px;
  @media (min-width: 768px) {
    height: 64px;
  }
}

.main {
  width: 100%;
}

.breadcrumb {
  padding-top: .5rem;
  padding-bottom: .5rem;

  @media (min-width: 768px) {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}

.footer {
  width: 100%;
  margin-top: auto;
}

.footer-1 {
  display: flex;
  justify-content: center;
  background-color: var.$gray800;
}

.footer-2 {
  display: flex;
  justify-content: center;
  background-color: var.$white;
}

.contents-wrapper {
  max-width: 1080px;
  padding-right: 24px;
  padding-left: 24px;
  @media (min-width: 1024px) {
    margin: 0 auto;
  }
}

.bg-white {
  background-color: var.$white;
}

.bg-gray {
  background-color: var.$blue200;
}

.font-alphabet {
  font-family: var.$font-alphabet;
}

.font-bold {
  font-weight: 700;
}

.mb24 {
  margin-bottom: 24px;
}