$font-base: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$font-alphabet: "Jost", sans-serif;
$blue200: #EBEBF2;
$gray300: #E0E0E0;
$gray800: #424242;
$gray900: #212121;
$white: #ffffff;
$tp: transparent;